@import 'bootstrap-custom';
@import '../../bower_components/sass-mq/mq';
@import '../../bower_components/hiof-layout/dist/layout';
@import '../../bower_components/hiof-colors/dist/colors';
@import '../../bower_components/hiof-typography/dist/typography';
@import '../../bower_components/highlightjs/styles/github';
@import "pod-styles";
html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

body {
    position: relative;
}

//.ember-view {
//    //width: 100%;
//}
.navbar {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar-brand {
    color: #111;
    padding-left: 4.4rem;
    background-image: url('/assets/images/icons/emblem.svg');
    background-size: 32px 32px;
    font-weight: bold;
    &:hover {
        color: #111;
    }
}

.container-fluid {
    max-width: 104rem;
    margin: 0 auto;
    position: relative;
}

.emblem {
    position: absolute;
    top: 14px;
    left: 0;
    width: 24px;
    height: 24px;
    //g{fill: #000;}
    path {
        fill: #000;
    }
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -webkit-flex: $values;
    -ms-flex: $values;
    flex: $values;
}

@mixin order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

.main {
    @include flexbox();
    > * {
        padding: 10px;
        flex: 1 100%;
    }
    //& > h1 {
    //    display: block;
    //    width: 100%;
    //}
}

.content {
    flex: 3 0px;
}

.internal-nav {
    flex: 1 0px;
}

.footer {}


.icon-arrow-up {
    &.back-to-top {
        display: block;
        position: absolute;
        top: 37px;
        left: -30px;
        &:hover {
            border-color: #00f;
            cursor: pointer;
        }
        &:before,
        &:after {
            content: "";
            width: 0px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 10px solid #aaa;
            position: absolute;
            top: 1px;
            left: 0px;
        }
        &:before {
            &:hover {
                border-bottom: 10px solid #00f;
            }
        }
        &:after {
            border-bottom: 10px solid #fff;
            top: 2px;
        }
    }
}

img {
    width: 100%;
}

.main {
    padding-top: 8rem;
    position: relative;
}

.visuallyhidden {
    display: none;
}

.hljs {
    width: 100%;
}


.section {
    position: relative;
    padding: 3rem 0;
    //&:before {
    //    content: "";
    //    width: 400%;
    //    position: absolute;
    //    bottom: 0;
    //    left: -100%;
    //    height: 10px;
    //    z-index: -1;
    //}
    //&:nth-child(6n+1) {
    //    &:before {
    //        @extend .c-bg-aquablue;
    //    }
    //    color: #fff;
    //}
    //&:nth-child(6n+2) {
    //    &:before {
    //        @extend .c-bg-purple;
    //    }
    //    color: #fff;
    //}
    //&:nth-child(6n+3) {
    //    &:before {
    //        @extend .c-bg-pimnk;
    //    }
    //}
    //&:nth-child(6n+4) {
    //    &:before {
    //        @extend .c-bg-warmgrey;
    //    }
    //}
    //&:nth-child(6n+5) {
    //    &:before {
    //        @extend .c-bg-seagreen;
    //    }
    //}
    //&:nth-child(6n+6) {
    //    &:before {
    //        @extend .c-bg-lightwarmgrey;
    //    }
    //}
    img {
        background: #fff;
        padding: 2rem;
        border-radius: .4rem;
    }
    clear: both;
    //h2{margin-left:-20rem;}
    .section-content {
        //margin-left: -20rem;
        width: 50%;
        float: left;
    }
    .section-illustration {
        float: right;
        width: 50%;
    }
    //&:nth-child(even){
    //  .section-content{
    //    float: right;
    //    margin-left:20rem;
    //  }
    //  .section-illustration{
    //    float: left;
    //    margin-left: -20rem;
    //  }
    //}
}

.footer {
    margin-top: 4rem;
    padding-top: 4rem;
    border-top: .1rem solid #347E84;
}
