@import 'bootstrap-custom';
@import '../../bower_components/hiof-layout/dist/layout';
@import '../../bower_components/hiof-colors/dist/colors';
//@import "pod-styles";
html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}
body{
  position:relative;
}
//.ember-view {
//    //width: 100%;
//}
.navbar{
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.navbar-brand {
    color: #111;
    padding-left: 4.4rem;
    background-image: url('/assets/images/icons/emblem.svg');
    background-size: 32px 32px;
    font-weight: bold;
    &:hover{
      color: #111;
    }
}
.container-fluid{
  max-width: 104rem;
  margin: 0 auto;
  position:relative;
}
.emblem {
    position: absolute;
    top: 14px;
    left: 0;
    width: 24px;
    height: 24px;
    //g{fill: #000;}
    path {
        fill: #000;
    }
}
.main{
  padding-top: 8rem;
}
.visuallyhidden {
    display: none;
}
.hljs{
  width: 100%;
}
//.fullscreen{
//  padding: 0;
//  .navbar{
//
//  }
//}
//#toc-list li {
//    list-style: none;
//}
//
//#toc-list li>ol {
//    display: none;
//}

//.nav {
//    background: #fff;
//    padding: 3rem;
//    position: -webkit-sticky;
//    position: -moz-sticky;
//    position: -ms-sticky;
//    position: -o-sticky;
//    position: sticky;
//    top: 10px;
//    ul {
//        padding-left:0rem;
//        ul {
//            padding-left: 3rem;
//        }
//    }
//    li {
//        list-style: none;
//        &.active{
//          border-left: 2px solid #563d7c;
//        }
//    }
//}

.section {
    position: relative;
    padding: 3rem 0;
    //&:before {
    //    content: "";
    //    width: 400%;
    //    position: absolute;
    //    top: 0;
    //    left: -100%;
    //    height: 100%;
    //    z-index: -1;
    //}
    //&:nth-child(6n+1) {
    //    &:before {
    //        @extend .c-bg-aquablue;
    //    }
    //    color: #fff;
    //}
    //&:nth-child(6n+2) {
    //    &:before {
    //        @extend .c-bg-purple;
    //    }
    //    color: #fff;
    //}
    //&:nth-child(6n+3) {
    //    &:before {
    //        @extend .c-bg-pimnk;
    //    }
    //}
    //&:nth-child(6n+4) {
    //    &:before {
    //        @extend .c-bg-warmgrey;
    //    }
    //}
    //&:nth-child(6n+5) {
    //    &:before {
    //        @extend .c-bg-seagreen;
    //    }
    //}
    //&:nth-child(6n+6) {
    //    &:before {
    //        @extend .c-bg-lightwarmgrey;
    //    }
    //}
    img{
      background: #fff;
      padding: 2rem;
      border-radius: .4rem;
    }
}
.footer{
  margin-top: 4rem;
  padding-top: 4rem;
  border-top : .1rem solid #347E84;
}
