

{{header-section designmal=model.data dokumentmal=model.included nettsidekomponenter=model.included}}

<main class="main">

<section id="designmal">
  <h1>Designmal</h1>
{{#each model.data as |post|}}
  {{content-section type=post.type title=post.attributes.title content=post.attributes.preview sectionid=post.attributes.basename author=post.attributes.author date=post.attributes.date illustration=post.attributes.illustration}}
{{/each}}
</section>



<section id="dukumentmaler">
  <h1>Dokumentmaler</h1>
{{#each model.included as |post|}}
  {{content-section type=post.type title=post.attributes.title content=post.attributes.body sectionid=post.attributes.title author=post.attributes.author date=post.attributes.date illustration=post.attributes.illustration}}
{{/each}}
</section>

<!--
<section id="nettsidekomponenter">
  <h1>Nettsidekomponenter</h1>
</section>
-->
</main>