
svg{
  //background: #000;
  //position: absolute;
  margin-top:2rem;
  //left: -50%;
  height: 100px;
  height: 8rem;
  max-width: 500px;
  //margin: 0 auto;
  //margin-left: -50%;
}
rect{
  width: 100%;
  height: 18rem;
}

path{
  fill: #ffffff;
}
