.nav-internal {
  //position: -webkit-sticky;
  //position: -moz-sticky;
  //position: -o-sticky;
  //position: -ms-sticky;
  //position: sticky;
  //top: 100px;
  //z-index: 1;
  //top: 0px;
  //right: 0;
  //height: 52px;
  //overflow: hidden;
  background: #fff;
  padding: 1rem;
  .nav-item {
    //display: inline-block;
    //list-style: none;
    margin-left: 0;
    a {
      font-size: 1.4rem;
      padding: 0rem 1rem;
    }
    ul{display:none;}
    .active{
      & + ul{
        display: block;
      }
    }
    .nav-item{
      margin-left: 2.4rem;
      .nav-item{
        margin-left: 2.4rem;
        .nav-item{
          margin-left: 2.4rem;
        }
      }
    }
  }
  //    white-space: nowrap;
  //  overflow-x: auto;
  //  -webkit-overflow-scrolling: touch;
  //  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.fixedsticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;

  &:before,
  &:after {
    content: '';
    display: table;
  }
}

.nav-internal-inline {
  //width: 9000px;
  margin-top: -3rem;
}
