.navbar {
    background: #fff;
    background: rgba(255,255,255,.95);
    //border-bottom: 1px solid #ddd;

    max-width: 104rem;
    margin: 0 auto;
    &:after{
      content: "";
      position: absolute;
      top: 52px;
      width: 200%;
      left: -50%;
      border-bottom: 1px solid #ddd;
      border-bottom: 1px solid rgba(0,0,0,.1);
      display: block;
    }
}

.navbar-brand {
    color: #111;
    padding-left: 4.4rem;
    //background-image: url('/assets/images/icons/emblem.svg');
    background-size: 32px 32px;
    font-weight: bold;
    font-size: 1.8rem;
    position: relative;
    &:hover {
        color: #111;
    }
    .emblem {
        position: absolute;
        top: .4rem;
        left: .6rem;
        width: 32px;
        height: 32px;
        //g{fill: #000;}
        path {
            fill: #000;
        }
    }
    .text-muted{
      position: absolute;
      top: 1.6rem;
      left: 4.4rem;
      font-size: 1rem;
      color: #111;
    }
}
.navbar-light{
  .navbar-nav{
    .nav-link{
      color: #111;
      padding: 5px 1rem;
      &.active, &:focus, &:hover, &:active{
        background: #0275d8;
          color: #fff;
      }
    }

  }
}
