


<section class="content">
  <header>
    <h1 class="display-1">Grafisk profil</h1>
  </header>
  {{#each model.data as |post|}}
    {{content-section data-section-id=post.attributes.basename basename=post.attributes.basename type=post.type title=post.attributes.title content=post.attributes.preview sectionid=post.attributes.basename author=post.attributes.author date=post.attributes.date illustration=post.attributes.illustration titletype=post.attributes.titletype}}
  {{/each}}
</section>
{{nav-internal}}
