<h1>Designmal</h1>
{{#each model.data as |post|}}
  {{content-section data-section-id=post.attributes.basename type=post.type title=post.attributes.title content=post.attributes.preview sectionid=post.attributes.basename author=post.attributes.author date=post.attributes.date illustration=post.attributes.illustration}}
{{/each}}

<aside>
<ul>
  {{#each model.data as |post|}}
  {{nav-internal title=post.attributes.title sectionid=post.attributes.basename type="designmal"}}
  {{/each}}
</ul>
</aside>