



<header>
  <h1>Web komponenter</h1>
</header>
<p>Siden programmeringsspråkene som blir brukt for å beskrive innhold, design og funksjonalitet på høgskolens nettsider er på engelsk er også dokumentasjonen under skrevet på engelsk.</p>
<hr>
{{#each model.data as |post|}}
<section>

  {{{post.attributes.comment}}}
  {{{post.attributes.result}}}
  {{{post.attributes.markup}}}

</section>


  {{!content-section type=post.type content=post.attributes.comment}}
{{/each}}

<aside class="auron-1-2">
<ul>
  {{#each model.data as |post|}}
  {{nav-internal title=post.attributes.title sectionid=post.attributes.slug type="web-komponenter"}}
  {{/each}}
</ul>
</aside>