<section class="content">

  <div class="card lo-half">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Dokumentmaler</h4>
      <p class="card-text">Dokumentmaler (som for eksempel presentasjonsmal, osv.) med retningslinjer for bruk.</p>
      {{#link-to 'template' class="card-link"}}Se maler{{/link-to}}
    </div>
  </div>

  <div class="card lo-half">
    <img class="card-img-top" data-src="..." alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Grafisk profil</h4>
      <p class="card-text">Design og retningslinjer for byråer og de som skal sette opp dokumentmaler.</p>
      {{#link-to 'guide' class="card-link"}}Se den grafiske profilen{{/link-to}}
    </div>
  </div>

<!--
  <ul>
    <li>{{#link-to 'template'}}Dokumentmaler{{/link-to}} - Dokumentmaler (som for eksempel presentasjonsmal, osv.) med retningslinjer for bruk</li>
    <li>{{#link-to 'guide'}}Designmal{{/link-to}} - Design og retningslinjer for branding osv.</li>
    <li>{{#link-to 'webcomponent'}}Web komponenter{{/link-to}} - Dokumentasjon for komponenter som kan brukes på nettsidene</li>
  </ul>-->
</section>
