<header>
  <h1>Design</h1>
</header>

<p>Høgskolens design er delt opp i tre forskjellige seksjoner:</p>
<ul>
  <li>{{#link-to 'guide'}}Designmal{{/link-to}} - Design og retningslinjer for branding osv.</li>
  <li>{{#link-to 'template'}}Dokumentmaler{{/link-to}} - Dokumentmaler (som for eksempel presentasjonsmal, osv.) med retningslinjer for bruk</li>
  <li>{{#link-to 'webcomponent'}}Web komponenter{{/link-to}} - Dokumentasjon for komponenter som kan brukes på nettsidene</li>
</ul>
