<section class="content row content-frontpage">

  <div class="card card-inverse c-bg-purple col-md-6">
    {{#link-to 'template' (query-params del="top")  class="card-link"}}
    {{grid-markup}}
    <div class="card-img-overlay">
      <h1 class="display-4 card-title">Dokumentmaler</h1>
      <p class="card-text">Her finner du alltid oppdaterte dokumentmaler.</p>

    </div>
    {{/link-to}}
  </div>

  <div class="card card-inverse c-bg-pink col-md-6">
    {{#link-to 'guide' (query-params del="top") class="card-link"}}
    {{grid-markup}}
    <div class="card-img-overlay">
      <h1 class="display-4 card-title">Grafisk profil</h1>
      <p class="card-text">Den grafiske profilen inneholder regler og retningslinjer for eksterne byråer og de som skal sette opp dokumentmaler.</p>
    </div>
    {{/link-to}}
  </div>



  <div class="card card-inverse c-bg-aquablue col-md-6">
    {{#link-to 'webcomponent' (query-params del="top") class="card-link"}}
    {{grid-markup}}
    <div class="card-img-overlay">
      <h1 class="display-4 card-title">Webdesign</h1>
      <p class="card-text">Her finner du dokumentasjon på hvordan høgskolens design på nett.</p>
    </div>
    {{/link-to}}
  </div>
  <!--


  <div class="card c-bg-warmgrey">
    {{#link-to 'styleguide' (query-params del="top") class="card-link"}}
    {{grid-markup}}
    <div class="card-img-overlay">
      <h1 class="display-4 card-title">Stilguide</h1>
      <p class="card-text">Teknisk design dokumentasjon av moduler, plugins og komponenter som brukes på Høgksolens nettsider.</p>
    </div>
    {{/link-to}}
  </div>
  -->
</section>
